<div class="date-wrapper">
    <div class="date">
        <span class="day"><%= new Date(post.date).getDate() %></span>
        <span class="month"><%= config.month_names[new Date(post.date).getMonth()] %></span>
    </div>
    <!-- /.date -->
</div>
<!-- /.date-wrapper -->