<div class="sidebox widget inner-bottom-xs">
    <form id="search" class="navbar-form search" role="search" action="https://www.google.com/#q=search+site:<%= config.domain %>" target="_blank">
        <input type="search" class="form-control" placeholder="Search">
        <button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
    </form>
</div>