<div class="widget">
    <h3>Timeline</h3>

    <a class="twitter-timeline inner-top-xs" data-chrome="noheader transparent nofooter noscrollbar" href="https://twitter.com/NataliaTitova" data-widget-id="562413596593119232">Tweets by @NataliaTitova</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <a class="twitter-follow-button outer-top-xs"
       href="https://twitter.com/NataliaTitova"
       data-show-count="false"
       data-size="large"
       data-lang="en">
        Follow
    </a>
    <script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
</div>