<% include partials/header.ejs %>

<main>

<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero">

    <div id="owl-main" class="dark-bg">

        <div class="container inner-bottom-xs">
            <div class="caption vertical-center text-center inner-top-xs">

                <div class="row">
                    <div class="col-sm-5 inner-left-xs inner-top-xs">
                        <img src="assets/images/photo_2.JPG" width="300px" class="profilephoto">
                    </div><!-- /.col -->

                    <div class="col-sm-7 inner-right-xs text-left text-justify inner-top-sm">
                        <h2>English Tutoring</h2>
                        <p class="medium-color">Hello! My name is Natalia Titova. I am a private English tutor, vocabulary junkie and a coffee addict!</p>
                        <p class="medium-color">If you are frustrated with learning English and feel there's got to be another way, look no further, you are in the right place!</p>
                    </div><!-- /.col -->

                </div><!-- /.row -->
                <!-- /.fadeIn -->
            </div>
            <!-- /.caption -->
        </div>
        <!-- /.container -->

    </div>

    <div class="">

        <div class="light-bg img-bg-softer" style="background-image: url(assets/images/art/pattern-background01.jpg); height: 480px;">
                <div class="caption vertical-center text-center inner-top-md inner-right-md inner-left-md" style="position: relative;">

                    <h1 class="fadeInDown-1 dark-color">Who are my students?</h1>

                    <p class="fadeInDown-2 dark-color">I work with students in all grades and skill levels, from
                        elementary school to introductory college level. Whether you need to brush up on vocabulary and
                        grammar or delve into literature and creative writing questions, I would be happy to help.</p>

                    <div class="fadeInDown-3">
                        <a href="method.html" class="btn btn-large btn-blue">Learn more</a>&nbsp;
                        <a href="contact.html" class="btn btn-large">Get in touch</a>
                    </div>
                    <!-- /.fadeIn -->

                </div>
                <!-- /.caption -->
        </div>

    </div>


</section>

<!-- ============================================================= SECTION – METHOD ============================================================= -->

<% include partials/method_core.ejs %>


<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->


<% include partials/contact_section.ejs %>

<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->

</main>

<% include partials/footer.ejs %>
<% include partials/footer-footer.ejs %>